
{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

    {% render "head", metadata: site.metadata, title: page.title %}

    <body>
        <!-- HELLO! -->
  {% render "header" %}

  {% render "navbar" metadata: site.metadata, page: page %}

  {{ content }}

  {% comment %}{% include "footer" %}{% endcomment %}
</body>

</html>
